<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <email from="admin@condadogroup.com" host="smtp.gmail.com" user="sample.emailer@gmail.com" password="sample.emailer" port="25" ssl="false" />
  <query sql="select *
                                from accounts
                                left join Individuals primaryIndividual on accounts.act_primary_individual_id = primaryIndividual.indv_key
                                left join Individuals secondaryIndividual on accounts.act_secondary_individual_id = secondaryIndividual.indv_key
                                left join users assigned_user on act_assigned_usr = assigned_user.usr_key
                                left join users assigned_csr on act_assigned_csr = assigned_user.usr_key
                                left join Leads on lea_key = act_lead_primary_lead_key
                                left join statuses status0 on lea_status = status0.sta_key
                                left join statuses status1 on lea_sub_status = status1.sta_key where accounts.act_key  = "/>
</configuration>