body   
{  
    background-color: #EAEAEA !important;       
    background-image: none;  
    margin: 0px;  
    text-align: left;  
    padding: 1px;
    font-size: 1.0em;
    border: 1px solid #5D7B9D;
    color: #1E1903;
    background: #EAEAEA;
    z-index: 1;
    height:100%;
    min-height : 250px;
}
.divOverflow {
    overflow:auto;
}
 /*.reToolCell
        {
            display: none;
        }*/

 