<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

    <add name="connectionString" connectionString="Connect Timeout=0;Max Pool Size=100;data source=IMHUSSAIN-PC;Initial Catalog=SelectCARE;user id=sa;password=sa123;" providerName="System.Data.SqlClient" />
    <add name="AdminModel" connectionString="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IMHUSSAIN-PC;initial catalog=SelectCARE;persist security info=True;user id=sa;password=sa123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LeadModel" connectionString="metadata=res://*/Models.Leads.csdl|res://*/Models.Leads.ssdl|res://*/Models.Leads.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=IMHUSSAIN-PC;Initial Catalog=SelectCARE;Persist Security Info=True;user id=sa;password=sa123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DashboardModel" connectionString="metadata=res://*/Models.Dashboad.csdl|res://*/Models.Dashboad.ssdl|res://*/Models.Dashboad.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=IMHUSSAIN-PC;Initial Catalog=SelectCARE;Persist Security Info=True;user id=sa;password=sa123;MultipleActiveResultSets=True;App=SalesTool&quot;" providerName="System.Data.EntityClient" />
    

    <!--
    <add name="connectionString" connectionString="Connect Timeout=0;Max Pool Size=100;data source=condado-02.condadogroup.com;Initial Catalog=SQ_SalesTool;user id=allshore;password=ABCDEF$123;" providerName="System.Data.SqlClient" />
    <add name="AdminModel" connectionString="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=suheylz-039\chamakchalo;initial catalog=SQ_SalesTool;persist security info=True;user id=sa;password=medusa123#;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="LeadModel" connectionString="metadata=res://*/Models.Leads.csdl|res://*/Models.Leads.ssdl|res://*/Models.Leads.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=suheylz-039\chamakchalo;Initial Catalog=SQ_SalesTool;Persist Security Info=True;user id=sa;password=medusa123#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="DashboardModel" connectionString="metadata=res://*/Models.Dashboad.csdl|res://*/Models.Dashboad.ssdl|res://*/Models.Dashboad.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=suheylz-039\chamakchalo;Initial Catalog=SQ_SalesTool;Persist Security Info=True;user id=sa;password=medusa123#;MultipleActiveResultSets=True;App=SalesTool&quot;" providerName="System.Data.EntityClient" />
    -->
  </connectionStrings>
  
  <appSettings>
    <!--SZ [June 20, 2013] Debuging settings, turn them off in production -->
    <add key="IsTraceOn" value="false"/>
    <add key="logFilePath" value="c:\condadoService.log"/>
    
    <!--SZ [June 20, 2013] time in minutes for service, e.g: 30 secs=> 0.5, 15 secs=> 0.25  -->
    <add key="interval" value="3"/>
 
  </appSettings>
</configuration> 