<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OLEBridge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="ApplicationServices" connectionString="Connect Timeout=100;Max Pool Size=100;data source=arsalan;Initial Catalog=SelectCARE_SQS;  user id=sa;password=medusa123#;  multipleactiveresultsets=true;" providerName="System.Data.SqlClient" />-->
    <add name="ApplicationServices" connectionString="Connect Timeout=100;Max Pool Size=100;Data Source=63.141.235.223;Initial Catalog=SelectCARE_SQL;Persist Security Info=True;User ID=allshore;Password=National$0;multipleactiveresultsets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="hubname" value="selectCareHub"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SelectCareSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:10487/Services/SelectCare.asmx"
        binding="basicHttpBinding" bindingConfiguration="SelectCareSoap"
        contract="SelectCare.SelectCareSoap" name="SelectCareSoap" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <userSettings>
    <OLEBridge.Properties.Settings>
      <setting name="LastUserKey" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="LastUserId" serializeAs="String">
        <value />
      </setting>
      <setting name="LastLoginAt" serializeAs="String">
        <value />
      </setting>
      <setting name="LastLoginType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastPassword" serializeAs="String">
        <value />
      </setting>
    </OLEBridge.Properties.Settings>
  </userSettings>
</configuration>